
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins&family=Roboto:wght@100;500&display=swap');
  /* colores
    #98804B
    rgb (152,128,75,0.53)
    #EAEAEA
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

/*reseteo*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* font resizing */
html{
    font-size: 62.5%;
}


a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}




/* header */
.glass-header{
    backdrop-filter: blur(20px);
    background-color: rgba(167, 140, 83, 0.891);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar{
    display: flex;
    height: 48px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}




/* header*/
.header .header__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    padding: 10px;
}

.header .header__logo{
    height: 30px;

}

.header__menu{
    margin: 15px;
}

.navbar .container{
    display: none;
}




/*media queries: header*/
@media (min-width:768px){
    .header__menu{
        display: none;
    }
    
    .header{
        display: flex;
        justify-content: center;
    }

    .navbar{
        width: 1024px;
    }
    .navbar .container{
        display: flex;
        justify-content: right;
        width: 500px;
    }

    .navbar .list{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .list__item{
        font-size: 1.4rem;
        margin-right: 20px;
    }
}



/*banner*/
 .main-section {
    display: grid;
    height: 287px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-image: url("../assets/img/maceta.png");
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-items: center;
    margin: auto;
    padding: 0px;
}



.main-section__heading{
    color: white;
    font-weight: 600;
    font-size: 30px;
    grid-row: 3/4;
    grid-column: 2/3;
}

.main-section__link{
    grid-row: 5/6;
    grid-column: 2/3;
}



@media screen and (min-width: 576px){
    /*banner mobile*/
    .main-section{
        height: 500px;
    }
    .main-section__heading{
        font-size: 3rem;
    }
@media screen and (min-width:1024px) {
    .main-section{
        height: 763px;
    }
    .main-section__heading{
        font-size: 4.4rem;
    }
}

}



/*section nosotros*/
.nosotros-section{
    display: flex;
    height: 500px;
    background-color: #EBE8E8;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nosotros-section__h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    width: 80%;
    
}

.nosotros-section__h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.card__ebanista{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nosotros-section__img{
    height: 117px;
}

.desc-ebanista{
    display: flex;
    height: 110px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}

.desc-ebanista__firma span{
    font-weight: 600;
}

.desc-ebanista__link{
    font-size: 15px;
    font-weight: 600;
    color: black;
}




/*media queries nosotros section */
@media screen and (min-width:576px) {
    .nosotros-section__h2{
        font-size: 3rem;
        width: 100%;
        margin-top: 30px;
    }

    .nosotros-section__h3{
        font-size: 2rem;
    }

    .card__ebanista{
        display: flex;
        flex-direction: row;
        gap: 30px;
        width:500px;
        font-size: 1.5rem;
    }
    .nosotros-section__img{
        height: 197px;
    }
    .desc-ebanista{
        gap: 15px;
    }

    .desc-ebanista__link{
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
}



.galeria-section{
    display: flex;
    align-items: center ;
    height: 244px;
    background-image: url("../assets/img/mesa-ratona-lateral.jpeg");
    background-size: cover;
}

.galeria-section__link{
    color: white  ;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 16px;
}



/*media queries galeria section*/
@media screen and (min-width: 576px) {
    .galeria-section{
        height: 542px;
    }
    
    .galeria-section__link{
        font-size: 2rem;
        margin: 35px
    }
}




@media screen and (min-width: 1024px) {
    .galeria-section{
        height: 763px;
    }
}




.testimonios-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 359px;
    align-items: center;
    background-color: #EBE8E8
}

.cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
}

.card-container{
    display: flex;
    gap: 15px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.card-container--2{
    display: none;
}

.card-container--3{
    display: none;
}


 .testimonios-card{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    height: 205px;
    width: 169px;
    border-radius: 24px;
    box-shadow: 2px 2px 5px lightgray;
    background-color: white;
    padding: 15px;
} 

.testimonios-card__texto{
    grid-row: 2/3;
}   

.testimonios-card__link{
    grid-row: 3/4;
    color: black;
    justify-self: right;
}

.testimonios-card__firma{
    grid-row: 4/5;
    font-size: 12px;
    font-weight: 700;
    justify-self: end;
}

.testimonios-section__link{
    color: black;
    font-size: 15px;
    font-weight: 600;
}



/*media queries testimonios section*/
@media screen and (min-width:576px) {
    .testimonios-section{
        height: 522px;
    }

    .testimonios-card{
        height: 279px;
        width: 230px;
    }

    .testimonios-card p, 
    .testimonios-card a, 
    .testimonios-card h3{
        font-size: 1.5rem;
    }
}
    .card-container--2{
        display: flex;
        gap: 15px;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .card-container__flechader{
        display: none;
    }

   

@media screen and (min-width:1024px){
    .testimonios-section{
        height: 735px;
    }
    
    .cards-container{
        width: 1200px;
    }
    .testimonios-card{
        height: 444px;
        width: 366px;
        padding: 30px;
    }

    .testimonios-card p, 
    .testimonios-card a, 
    .testimonios-card h3{
        font-size: 2rem;
    }

    .card-container--3{
        display: flex;
        gap: 15px;
        width: 80%;
        align-items: center;
        justify-content: center;
        
    }
    .card-container--2__flechader{
        display: none;
    }

    .testimonios-section__link{
        font-size: 2rem;
    }
}
    




.contacto-section {
    display: flex;
    height: 534px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bfb1958a;
}

.heading-container{
    margin: 10px;
    width: 80%;
}

.heading-container__h3{
    font-size: 15px;
    font-weight: 600;   
}

.form{
    width: 80%;
}

.form__fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border: none;
    height: 250px;
}

.form__input{
    height: 32px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.form__input--textarea{
    height: auto;
}

.data {
    width: 80%;
    display: flex;
    align-items: center; 
    gap: 10px;
}

.data__img{
    width: 20px;
}

.data__img--size{
    height: 26px;

}

.contacto-section hr{
    border-top: 1px solid black;
    border-bottom: none;
    margin: 2px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 112px;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__icon-container{
    display: flex;
    gap: 25px;
}

.footer__icon{
    width: 20px;
}
 .footer hr{
    border-top: none;
 }
.footer__text{
    color: #585858;
    font-size: 12px;
    font-weight: 400;
}

